@media (min-width: 600px) {
  .grid {
    padding: 0 32px;
  }
}
@media (max-width: 599px) {
  .grid {
    padding: 0 16px;
  }
}
.gridItem {
  margin-left: auto !important;
  margin-right: auto !important;
}
.paper {
  padding: 50px 10px;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.form {
  position: relative;
  margin-bottom: 40px;
}
.inputMail {
  width: 61%;
}
.button {
  width: 30%;
  margin-left: 1em;
}
