@media (min-width: 600px) {
  .grid {
    padding: 0 32px;
  }
}
@media (max-width: 599px) {
  .grid {
    padding: 0 16px;
  }
}
.gridItem {
  margin-left: auto !important;
  margin-right: auto !important;
}
.paper {
  padding: 30px 50px;
}
